.Login {
    display: flexbox;
    background-color: azure;
    width: 500px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -250px;
}

.Container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -130px 0 0 -200px;
}

.cardContainer {
    display: flex;
    gap: 10px;
    padding: 5px;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
}

.card {
    padding: 10px;
}